<!DOCTYPE html>
<html>

<head>
    <title>Welcome Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='./stylesheets/indexStyle.css' />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>

<body>
	<div class = "page-wrapper">
    <div class="container">
        <div class="header col-xs-4">
            <img src="https://www.bornclinic.com/wp-content/uploads/2014/08/Medical-Symbol-Icon-Blue-Small.png" />
            Doctor Search
        </div>
<div class="content">
    <br>
    <br>
    <div class="col-xs-offset-6 guest-menu">
        <div class="col-xs-12 box-content text-center">
				<!-- login form -->
			<div class="form">
				<form class="login-form" method = "post" action = "/loginProcess">
					<h1>Welcome Back</h1>
			      <input type="text" placeholder="email" name = "email" value="dave@dave.com"/>
			      <input type="password" placeholder="password" name = "password" value="dave"/>
			      <button type = "submit">Sign In</button>
			      <p class="left col-xs-4 message"><a href="#">Back to Guest</a></p>
			      	   <form action="/loginProcessX" method="post">

			      		<p class="right col-xs-offset-6 social-media">
			      		<a href="/loginX">Login with Social Media</a></p>
			      	</form>
			    </form>
			    <!-- guest form	 -->
			    <form class="guest-form" method = "post" action="/search">
			    	<h1 id = "guest">Welcome Guest</h1>
			      <input type="text" placeholder="Enter Your Address Or Zip Code" name="zip_code" required/>
			      <button type="submit">Quick Unregistered Search</button>
			      <div class = "row guest-2">
			      	<p class="left col-xs-1 message"><a href="#">Login</a></p>
			      <p class="right col-xs-offset-5 register">Not registered?<a href="#"> Create an account</a></p>
			  	</div>
			    </form>
			    <!-- registration form -->
			    <form class = "register-form" action="/registerProcess" method="post">
			    <h1>REGISTER</h1>
                   <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder = "name">
                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <input type="text" class="form-control" name="address" placeholder="Street Address">
                        <input type="text" class="form-control" name="city" placeholder="City">
                        <input type="text" class="form-control" name="state" placeholder="State">
                        <input type="text" class="form-control" name="zip" placeholder="Zip">
                        <input type="text" class="form-control" name="phone" placeholder="Phone Number">
							<select name="insurance" id="insurance">
							<option name = "placeholder">Select type of insurance</option>
							<option value="Aetna">Aetna</option>
							<option value="Cigna">Cigna</option>
							<option value="BlueCross">Blue Cross</option>
							<option value="IBC_Amerihealth">IBC Amerihealth</option>
							<option value="Healthnet">Healthnet</option>
							<option value="United_Healthcare">United Healthcare</option>
							<option value="Humana">Humana</option>
                            <option value="Medicaid">Medicaid</option>
                            <option value="Medicare">Medicare</option>
							</select> 
							<br>         
                        <button id="form-group" class="form-control" type="submit">Register!</button>
                        <p class="back-to-guest col-xs-12 text-center"><a href="#"> Back to guest page</a></p>
                        
                   
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>
<div class="col-sm-12 text-center footer">
	2017 Full Stack School Project Team: Nikolas, Saif, Taylor, Zach
</div>
			
	</div>
	<script>
		<%function%>
		//functions to call to produce the right form
		
		// pull login function
		var pullLogin = ()=>{
			$('.guest-form').toggle(()=>{
	   		$('.login-form').animate({height: "toggle", opacity: "toggle"}, "slow",()=>{
	   			console.log("now that effect has finished and callback function served we can move on")
	   			});
	   		});
		}

		// pull registration page function
		var pullRegistration = ()=>{
			$('.guest-form').hide('slow');
			$('.guest-menu').animate({height: "600px", top: "-150px"}, "slow")
			$('.register-form').animate({height: "toggle", opacity: "toggle"}, "slow",()=>{
				console.log('produce register form');
			});
		}

		// back to guest page
		var toGuestPage = ()=>{
			$('.register-form').hide("slow");
			$('.guest-menu').animate({height: "300px", top: "0"}, "slow")
			$('.guest-form').animate({height: "toggle", opacity: "toggle"}, "slow",()=>{
				console.log('welcome guest form has been served');
			});
		}



		// to pull login page
    	$('.message a').click(function(){
    		pullLogin();
    		console.log("login form will be produced")
		});
		// to pull registration page
		$('.register a').click(function(){
			pullRegistration();
			console.log("register form will be produced")	
		});
		// back to guest page
		$('.back-to-guest').click(()=>{
			toGuestPage();
			console.log('registration form should have been produced by now');
		});
    </script>
 </div>
</body>
</html>