<!DOCTYPE html>
<html>

<head>
    <title>Welcome Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='./stylesheets/indexStyle.css' />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="top-logo"></a>
            <img src="http://www.kpinhawaii.com/sites/kpinhawaii/files/inline-images/2017-BestDoctors-Logo_0.png" />
        </div>
<div class="content">
    <h2>Doctor Search</h2>
    <h4>Small Descriptive Title</h4>
    <br>
    <br>
    <div class="guest-menu">
        <div class="col-sm-12 box1-content">
			<div class="login-page">
				<div class="form">
				<form class="login-form" method = "post" action = "/loginProcess">
					<h1>Welcome Back</h1>
			      <input type="text" placeholder="email" name = "email"/>
			      <input type="password" placeholder="password" name = "password"/>
			      <button>Sign In</button>
			      <!-- <div class="col-sm-8 col-sm-offset-2" id="logos">
			      	<img class="col-sm-3" src="http://www.sunderlandrca.co.uk/images/FB-f-Logo__blue_50.png">
			      	<img class="col-sm-3" src="https://i0.wp.com/nigerianscholars.com/assets/uploads/2015/10/google-new-logo-e1449749823915.png?fit=50%2C50&ssl=1">
			      	<img class="col-sm-3" src="http://www.sunderlandrca.co.uk/images/FB-f-Logo__blue_50.png">
			      	<img class="col-sm-3" src="http://www.sunderlandrca.co.uk/images/FB-f-Logo__blue_50.png">
			      </div> -->
			      <p class="col-xs-12 text-center">Not registered?<a href="/register"> Create an account</a></p>
			    </form>	
			    <form class="guest-form" method = "post" action="/search">
			    	<h1 id = "guest">Welcome Guest</h1>
			      <input type="text" placeholder="Enter Your Address Or Zip Code"/>
			      <button>Quick Search</button>
			      <div class = "row guest-2">
			      	<p class="left col-xs-1 message"><a href="#">Login</a></p>
			      <p class="right col-xs-offset-5">Not registered?<a href="register"> Create an account</a></p>
			      
			  	</div>
			    </form>

			</div>
		</div>
	</div>
</div>
<div class="col-sm-12 text-center footer">
	2017 Full Stack School Project Team: Nikolas, Taylor, Saif, Zach
</div>
			
	</div>
	<script>
    	$('.message a').click(function(){
   		$('form').animate({height: "toggle", opacity: "toggle"}, "slow",()=>{
   			console.log("now that effect has finished and callback function served we can move on")
   		});
});
    </script>
</body>
</html>
