
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include head %>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>


	
	<div class="container">
		<div class="header">
					<a class="top-logo"></a>
						<img src="http://www.kpinhawaii.com/sites/kpinhawaii/files/inline-images/2017-BestDoctors-Logo_0.png" />
		</div>
		<div class="content">
			<h2>Doctor Search</h2>
			<h4>Small Descriptive Title</h4>
			<br>
			<br>
				<div class='col-sm-6'>
					<div class="box1">
						<div class="box-content1">
							<h1>Guest</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<button class="btn btn-success btn-center">Get Started</button>
						</div>
					</div>
					<div class="box2">
						<div class="box-content2">
							<h1>Login/Register</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<a href="/login" id="login" class="btn btn-success btn-center">Login</a>
							<a href="/register" id="register">Don't have an account? Register Here!</a>
						</div>
					</div>
						

				</div>
				
			</div>
		<div class="col-sm-6">
			<div class="footer">2017 Frontend Project: Nicolajs, Taylor, Saif, Zach</div>
		</div>
			
	</div>

</body>
</html>