<!DOCTYPE html>
<html>
<head>
	<title>HELLO!!</title>


<style>

img{
	align-content: center;
}

</style>
</head>
<body>


<p>
<!-- <img src="./public/images/hello.gif">
 -->
 <img src="/images/hello.gif" alt=""> 


</p>

</body>
</html>