body{
	background: linear-gradient(to right, white, dodgerblue);
}
h1{
	margin-top: 50px;
	color: white;
}
h5{
	color: white;
}

.form-group{
	background-color: lightgray;
	border: 25px solid dodgerblue;
	width: 60%;
	margin: auto;
	margin-top: 40px;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 5%;
}
