body {
	padding: 30px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url('https://grist.files.wordpress.com/2015/05/doctor-c-shutterstock.jpg?w=1024&h=576&crop=1');
	background-size: cover;
	min-height: 100%;


}

/* a {
  color: #00B7FF;
} */

img{
	width: 200px;
}

.box1{
	height: 300px;
	width: 49%;
	margin: auto;
	background: white;

	
	background: rgba(0,0,0,0.5);
}
.box2{
	width:  100%;
	margin:0 auto;
	background: white;
	display: block;
	position: relative;
	background: rgba(0,0,0,0.5);
	
	padding: 10%;
	padding-top: 5%;
}
/* h2{
	text-align: center;
	color: white;
}
h4{
	text-align: center;
	color: white;
} */
a{
	color: lightblue;
	padding: 1%;
}
/* .col-sm-6{
	padding: 0px;
	margin: auto;
	width: 100%;
} */
.box1 h1{
	text-align: center;
	color: white;
}
.box2 h1{
	text-align: center;
	color: white;
}
.box-content1{
	margin: auto;
	/* display: inline; */
}
.box-content2{
	margin: auto;
	/* display: inline; */
}

button{
	margin-left: 220px;
}

.footer{
	background-color: lightblue;
	/* position: absolute; */
	height: 22px;
	width: 100%;
	margin-top: 220px;
	overflow: hidden;
	text-align: center;

	

	
}

a {
  color: #00B7FF;
}

.band-image img{
	width: 100%;
}

.profile {
	width: 200px;
	height:  100%;
}

.doctor-results {
	width: 150px;
	height: 100%;
	border: 1px solid black;
	text-align: center;
}


.search-boxes {
	margin-right: 50%;
}



.search-box {
	border: 1px solid black;

	margin: auto;


}

.login-register {
	display: inline-block;
	position: relative;
	color: floralwhite;
}

.login-link {
	border-right: 1px solid floralwhite;
}